## Lean / Lake
/GhostConjectureLean/.lake/

## OS junk
.DS_Store

## Python bytecode
__pycache__/
*.py[cod]

## leanblueprint (compiled/generated artifacts)
/GhostConjectureLean/blueprint/lean_decls
/GhostConjectureLean/blueprint/print/
/GhostConjectureLean/blueprint/web/
/GhostConjectureLean/home_page/
/blueprint/src/*.paux
