## Lean / Lake
/GhostConjectureLean/.lake/

## OS junk
.DS_Store

## leanblueprint (compiled/generated artifacts)
/GhostConjectureLean/blueprint/lean_decls
/GhostConjectureLean/blueprint/print/
/GhostConjectureLean/blueprint/web/
/GhostConjectureLean/home_page/
/blueprint/src/*.paux

## Temporary storage 
/output/tmp
/output/blueprint_to_proof/statement_formalization_log